*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {box-sizing: border-box;}

:root {
    --sidebar-width: 325px;
    --popupX: 307px;
}

body {
    background: #211f1f;
    color: white;
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
}

body #sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2aa4cff;
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

#sidebar header {
    margin-bottom: 35px;
    font-size: 25px;
    color: #211f1f;
}

#sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 18px
}

form p {
    opacity: 0;
    color: hsl(350deg 100% 46%);
    font-style: italic;
    font-size: 17px;
}

form input[type='text'],
form input[type='number'] {
    border: none;
    border-left: 10px solid #211f1f;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    outline: none;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
}

form #readStatus {
    display: flex;
    align-items: center;
    color: #333233;
    font-weight: 600;
}

#readStatus input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

form button {
    width: 200px;
    padding: 19px 0;
    margin-top: 25px;
    border: 0px solid transparent;
    border-radius: 0.325em;
    color: white;
    background: rgb(51, 50, 51);
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in;
}

form button:hover {
    background: #211f1f;
    color: #f2aa4c;
}

/* FOOTER */
body footer {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    margin-top: 2em;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #211f1f;
}

footer #profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

footer #profile:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
}

footer #profileText {
    text-decoration: none;
    color: #211f1f;
}

footer #profileText:hover {
    color:  hsl(350deg, 84%, 55%);
    text-decoration: underline;
}

/* MAIN */
body main {
    margin: 25px;
    margin-left: var(--sidebar-width);
}

main #navbar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

#navbar #clearData {
    width: 10em;
    padding: 15px 0;
    border: 0px solid transparent;
    border-radius: 0.325em;
    box-shadow: 4px 8px 4px 0px rgb(0 0 0 / 50%);
    color: white;
    background: rgb(51, 50, 51);
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in;
}

#navbar #clearData:hover {
    background: #ff9494;
    color: #212121;
    transform: translateY(-0.2rem);
}

#navbar #clearData:active {
    transform: translateY(0rem);
}

#navbar #clearPopup {
    width: 10em;
    padding: 10px 0;
    border: 0px solid transparent;
    border-radius: 0.325em;
    background: rgb(51, 50, 51);
    box-shadow: 4px 8px 4px 0px rgb(0 0 0 / 50%);
    color: white;
    position: absolute;
    font-weight: 600;
    text-align: center;
    transform: translate(var(--popupX), 0px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

#navbar #clearPopup.active {
    transform: translate(var(--popupX), 15px);
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

#clearPopup #choices {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#clearPopup #confirm {
    background: #ff9494;
    color: #da0000;
    border: 0px solid transparent;
    border-radius: 0.325em;
    box-shadow: 4px 3px 4px 0px rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: all .1s ease-in;
    padding: 10px;
    font-weight: bold;
}

#clearPopup #cancel {
    background: #464646;
    color: #f2aa4c;
    border: 0px solid transparent;
    border-radius: 0.325em;
    cursor: pointer;
    transition: all .1s ease-in;
    padding: 10px;
    font-weight: bold;
}

#clearPopup #cancel:hover {
    background: #f2aa4c;
    color: #211f1f;
}

main #bookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3em;
    gap: 30px;
}

#bookList .book {
    display: flex;
    width: 20em;
    border: 0px solid transparent;
    border-radius: 0.325em;
    box-shadow: 4px 8px 4px 0px rgb(0 0 0 / 50%);
    color: white;
    background: rgb(51, 50, 51);
    font-weight: bold;
    transition: all .1s ease-in;
}

.book .bookContent {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.book .bookInfo {
    width: 83%;
    padding: 15px 20px;
    align-items: flex-end;
    color: #e09d46;
    overflow-wrap: anywhere;
}

.bookContent p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.325em;
    cursor: pointer;
    transition: all .1s ease-in;
}

.bookContent .read {
    background: #09e070;
    color: #006700;
}

.bookContent .read:hover {
    background: #1d9557;
    color: #4aff4a;
    transform: translateY(-0.2rem);
}

.bookContent .unread {
    background: #ff9494;
    color: #da0000;
    border-bottom: 3px solid red;
}

#clearPopup #confirm:hover,
.bookContent .unread:hover {
    background: #ec2d2d;
    color: #212121;
    transform: translateY(-0.2rem);
}

.bookContent .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff9494;
    color: #da0000;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0.325em;
    cursor: pointer;
    transition: all .1s ease-in;
}

.bookContent .material-icons:hover {
    background: #ec2d2d;
    color: #212121;
    transform: translateY(-0.2rem);
}

#clearPopup #confirm:active,
.bookContent .read:active,
.bookContent .unread:active,
.bookContent .material-icons:active {
    transform: translateY(0rem);
}

/* MEDIA QUERIES */
@media(max-width: 1415px) {
    :root {--popupX: 195px;}

    main #bookList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1080px) {
    :root {--sidebar-width: 200px;}

    #sidebar header {font-size: 15px;}

    #sidebar form {
        margin-left: 3px;
        gap: 10px;
        font-size: 15px
    }

    form input[type='text'],
    form input[type='number'] {
        width: 95%;
    }

    form button {width: 140px;}

    body footer {
        flex-direction: column;
        font-size: 15px;
    }
    
    footer #profile {
        width: 30px;
        height: 30px;
    }

    main #bookList {margin: 2.8em 1.8em;}
}

@media(max-width: 940px) {
    :root {--popupX: 160px;}
    
    #bookList .book {width: 14em;}

    .book .bookInfo{font-size: 10px;}
}

@media(max-width: 720px) {
    :root {--popupX: -25px;}

    main #navbar {
        flex-direction: column;
        gap: 10px;
    }

    #navbar #clearData {align-self: flex-end;}

    #navbar #clearPopup {
        transform: translate(var(--popupX), 45px);
    }

    #navbar #clearPopup.active {
        transform: translate(var(--popupX), 60px);
    }

    main #bookList {
        grid-template-columns: repeat(1, 1fr);
    }

    #bookList .book {width: 16em;}

    .book .bookInfo{font-size: 12px;}
}

@media(max-width: 515px) {
    :root {
        --sidebar-width: 140px;
        --popupX: -18px;
    }

    form input[type='text'],
    form input[type='number'] {
        font-size: 10px;
    }

    form button {
        width: 85px;
        padding: 12px 0;
        font-size: 10px;
    }

    #navbar #clearData {
        width: 8em;
        padding: 11px 0;
        font-size: 11px;
    }

    #navbar #clearPopup {
        width: 13.5em;
        font-size: 11px;
        z-index: 1;
    }

    #clearPopup #confirm {
        padding: 5px;
    }

    main #bookList {margin: 1.8em 1em;}

    #bookList .book {width: 11em;}

    .book .bookInfo {font-size: 8px;}
}